<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        メッセージ入力
      </div>
      <div class="panel-body" >
        <% #部分テンプレートを読み込んでいる %>
        <%= render 'form' %>
      </div>    
    </div>
    <div class="adsense hidden-sm hidden-xs">
      <% if @message.errors.blank? %>
        <!--見栄えのため、バリデーションエラーがないときだけ表示-->
        <%= render 'adsense_square_unit' %>
      <% end %>
      <%= render 'adsense_banner_unit' %>
      <%= render 'adsense_link_unit' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default" id="message-list">
      <div class="panel-heading">
        新着メッセージ一覧
      </div>
      <div class="panel-body" >
        <% if @messages.blank? %>
          <h4>ようこそ！最初のメッセージを投稿してみませんか？</h4>
        <% end %>
        <% @messages.reverse_each do |message| %>
          <p class="label label-info">
            <% if message.name.presence %>
              <%= message.name %>
            <% else %>
              <%= "名無し" %>
            <% end %>
  
            <% if message.age.presence %>
              <%= "(" + message.age.to_s+ ")" %>
            <% else %>
              <%= "(年齢不詳)" %>
            <% end %>
          </p>
          &nbsp;
          <%= link_to '<span class="label label-success glyphicon glyphicon-pencil">edit</span>'.html_safe , edit_message_path(message) %>
          <%= link_to '<span class="label label-danger glyphicon glyphicon-trash">destroy</span>'.html_safe , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
          <p>
            <%= message.body %>
          </p>
          <% if message != @messages.first %>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="adsense hidden-lg hidden-md">
      <%= render 'adsense_banner_unit' %>
      <%= render 'adsense_link_unit' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="hidden-lg hidden-md page-top" >
    <a href="#"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
  </div>
</div>


<script type="text/javascript">
// スムーズスクロール
$(function(){
	// ページ内リンクをクリックすると
	$('a[href^=#]').click(function(){
 		// スクロールスピード
 		var speed = 500;
 		// クリックしたリンク先を保存
		var href= $(this).attr("href");
		// クリックしたリンク先が#または空のときは
		var target = $(href == "#" || href == "" ? 'html' : href);
		// トップへ移動する
		var position = target.offset().top;
		// リンク先へスムーズに移動する
		$("html, body").animate({scrollTop:position}, speed, "swing");
		return false;
	});
});
// page Topフェードイン・アウト
$(function(){
	$(window).bind("scroll", function() {
	if ($(this).scrollTop() > 50) { 
		$(".page-top").fadeIn();
	} else {
		$(".page-top").fadeOut();
	}
	// ドキュメントの高さ
	scrollHeight = $(document).height();
	// ウィンドウの高さ+スクロールした高さ→ 現在のトップからの位置
	scrollPosition = $(window).height() + $(window).scrollTop();
	// フッターの高さ
	footHeight = $("footer").height();
	
	// スクロール位置がフッターまで来たら
	if ( scrollHeight - scrollPosition  <= footHeight ) {
		// ページトップリンクをフッターに固定
		$(".page-top a").css({"position":"absolute","bottom": "0px"});
	} else {
		// ページトップリンクを右下に固定
		$(".page-top a").css({"position":"fixed","bottom": "0px"});
		}
	});
});
</script>

