<h3>メッセージ入力</h3>
<%= form_for(Message.new) do |f| %>
<div class="input-group">
	<span class="input-group-addon">ユーザー名</span>
  <%= f.text_field :name, class:"form-control" %>
</div>
<div class="input-group">
	<span class="input-group-addon">メッセージ</span>
  <%= f.text_area :body, class:"form-control" %>
</div>
<br>
<%= f.submit class: "btn btn-sm btn-primary btn-block" %>
<% end %>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    新着メッセージ一覧
  </div>

  <div class="panel-body" style="word-wrap:break-word">
    <% @messages.reverse_each do |message| %>
      <span class="label label-info">
        <% if message.name %>
          <%= message.name %>
        <% else %>
          <%= puts "nanasi" %>
        <% end %>
      </span>
      <p>
        <%= message.body %>
      </p>
      <% if message != @messages.first %>
      <hr>
      <% end %>
    <% end %>
  </div>
</div>
