<h3>メッセージ入力</h3>
<div class="form-horizontal row">
  <div class="form-group">
    <%= form_for(Message.new) do |f| %>
    <label class="col-lg-2 control-label">ユーザー名</label>
    <div class="col-lg-10">
      <%= f.text_field :name, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">メッセージ</label>
    <div class="col-lg-10">
      <%= f.text_area :body, class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit class: "btn btn-sm btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div class="panel panel-default row">
  <div class="panel-heading col-lg-12">
    新着メッセージ一覧
  </div>

  <div class="panel-body col-lg-12" style="word-wrap:break-word">
    <% @messages.reverse_each do |message| %>
      <span class="label label-info">
        <% unless message.name.blank? %>
          <%= message.name %>
        <% else %>
          <%= "名無し" %>
        <% end %>
      </span>
      <p>
        <%= message.body %>
      </p>
      <% if message != @messages.first %>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>


