<!-- ダメージ電卓 -->
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= I18n.t('index.calc.header.title') %>
        <!--入力モード切替ボタン。使い勝手が悪いからいったんコメントアウト-->
        <!--<span class="pull-right">-->
        <!--  <span id="percent-mode">％で入力</span>-->
        <!--  <button class="btn btn-default percentToggle">入力切替</button>-->
        <!--</span>-->
      </div>
      <div class="panel-body" >
        <div class="form-horizontal">
          <%= form_for(@message) do |f| %>
            <div class="form-group">
              <label class="control-label col-sm-6 col-md-5"><%= I18n.t('index.calc.form.name') %></label>
              <div class="col-sm-6 col-md-7">
                <%= f.text_field :name, class:"form-control input", id:"name", placeholder: I18n.t('index.calc.form.placeholder.name'), maxlength: 20 %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-6 col-md-5"><%= I18n.t('index.calc.form.atk') %></label>
              <div class="col-sm-6 col-md-7">
                <%= f.text_field :name, class:"form-control input atk", id:"atk", placeholder: I18n.t('index.calc.form.placeholder.atk'), maxlength: 6 %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-6 col-md-5"><%= I18n.t('index.calc.form.ability1') %></label>
              <div class="col-sm-6 col-md-7"><%= f.text_field :name, class:"form-control input ability1", id:"ability1", placeholder: I18n.t('index.calc.form.placeholder.ability1'), maxlength: 5 %></div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-6 col-md-5"><%= I18n.t('index.calc.form.ability2') %></label>
              <div class="col-sm-6 col-md-7"><%= f.text_field :name, class:"form-control input ability2", id:"ability2", placeholder: I18n.t('index.calc.form.placeholder.ability2'), maxlength: 5 %></div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-6 col-md-5"><%= I18n.t('index.calc.form.ability3') %></label>
              <div class="col-sm-6 col-md-7"><%= f.text_field :name, class:"form-control input ability3", id:"ability3", placeholder: I18n.t('index.calc.form.placeholder.ability3'), maxlength: 5 %></div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-6 col-md-5"><%= I18n.t('index.calc.form.ability4') %></label>
              <div class="col-sm-6 col-md-7"><%= f.text_field :name, class:"form-control input ability4", id:"ability4", placeholder: I18n.t('index.calc.form.placeholder.ability4'), maxlength: 5 %></div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-6 col-md-5"><%= I18n.t('index.calc.form.leader_skill') %></label>
              <div class="col-sm-6 col-md-7"><%= f.text_field :name, class:"form-control input", id:"leader_skill", placeholder: I18n.t('index.calc.form.placeholder.leader_skill'), maxlength: 5 %></div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-6 col-md-5"><%= I18n.t('index.calc.form.friend_skill') %></label>
              <div class="col-sm-6 col-md-7"><%= f.text_field :name, class:"form-control input", id:"friend_skill", placeholder: I18n.t('index.calc.form.placeholder.friend_skill'), maxlength: 5 %></div>
            </div>
          <% end %>
        </div>
      </div>    
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= I18n.t('index.calc.header.dmg') %>
        <span class="pull-right">
          <button class="btn btn-default upCompatiToggle">得意属性</button>
          <button class="btn btn-default downCompatiToggle">ニガテ属性</button>
          <button class="btn btn-default dmgToggle displayed">計算式を隠す</button>
        </span>
      </div>
      <div class="panel-body" >
        <p>
          基礎ATK： <span id="dmg-atk" class="caption" >0</span>
        </p>
        <div class="collapse in dmgCollapse">
          <p class="caption"> <%= I18n.t('index.calc.caption.dmg_atk') %></p>
          <p class="caption"> = <span class="atk">10,000</span> * <span class="leader-skill">1</span> * <span class="friend-skill">1</span></p>
          <br>
        </div>
        <p>
          通常接触ダメージ：<span id="dmg-normal" class="caption">0</span>
        </p>
        <div class="collapse in dmgCollapse">
          <p class="caption"> <%= I18n.t('index.calc.caption.dmg_normal') %><span class="compati hidden"> * 属性相性</span></p>
          <p class="caption"> = <span class="dmg-atk">10,000</span> * (1 + <span class="ability1">0</span>) * <span class="ability2">1</span><span class="upCompati hidden"> * 1.5</span><span class="downCompati hidden"> * 0.7</span></p>
          <br>
        </div>
        <p>
          スマッシュダメージ： <span id="dmg-smash" class="dmg" >0</span>
        </p>
        <div class="collapse in dmgCollapse">
          <p class="caption"> <%= I18n.t('index.calc.caption.dmg_smash') %></p>
          <p class="caption"> = <span class="dmg-normal">10,000</span> * (1.5 + <span class="ability3">0</span>) * <span class="ability4">1</span></p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var atk           = 10000;
  var ability1      = 0;
  var ability2      = 1;
  var ability3      = 0;
  var ability4      = 1;
  var leader_skill  = 1;
  var friend_skill  = 1;
  var dmg_atk       = 0;
  var dmg_normal    = 0;
  var dmg_smash     = 0;
  var compatibility = 1;
  var parcent_teisu = 1;

  function printProperties (obj) {
    var prop, properties;
    properties = '';
    for (prop in obj) {
      properties += prop + '=' + obj[prop] + '\n';
    }
    return alert(properties);
  }

  function parseInput(element, defaultVal) {
    var ret = defaultVal;

    var val = $(element).val();
    if(!val || !val.match(/^[０-９0-9\.．]+$/g)){
      $(element).val("");
      return ret;
    }
    
    var han = val.replace(/[０-９．]/g,function(s){return String.fromCharCode(s.charCodeAt(0)-0xFEE0)});
    if(val.match(/[０-９]/g)){
        $(element).val(han);
    }
    
    ret = parseFloat($(element).val());
    return ret;
  }

  function dmg_calc() {
    atk          = parseInput('#atk', 10000);
    ability1     = parseInput('#ability1', 0);
    ability2     = parseInput('#ability2', 1);
    ability3     = parseInput('#ability3', 0);
    ability4     = parseInput('#ability4', 1);
    leader_skill = parseInput('#leader_skill', 1);
    friend_skill = parseInput('#friend_skill', 1);

    // 入力モード切替用の処理
    // 使い勝手が悪いからいったんコメントアウトする。
    // ability1 = ability1 * parcent_teisu;
    
    // if(ability2 != 1 && parcent_teisu != 1){
    //   ability2 = ability2 * parcent_teisu;
    // }

    // ability3 = ability3 * parcent_teisu;

    // if(ability4 != 1 && parcent_teisu != 1){
    //   ability4 = ability4 * parcent_teisu;
    // }

    // if(leader_skill != 1 && parcent_teisu != 1){
    //   leader_skill = leader_skill * parcent_teisu + 1;
    // }

    // if(friend_skill != 1 && parcent_teisu != 1){
    //   friend_skill = friend_skill * parcent_teisu + 1;
    // }

    dmg_atk = atk * leader_skill * friend_skill;
    dmg_normal = dmg_atk * (1 + ability1) * ability2 * compatibility;
    dmg_smash = dmg_normal * (1.5 + ability3) * ability4;

    $('#dmg-atk').text(Math.floor(dmg_atk).toLocaleString());
    $('#dmg-normal').text(Math.floor(dmg_normal).toLocaleString());
    $('#dmg-smash').text(Math.floor(dmg_smash).toLocaleString());
    
    $('.atk').text(atk.toLocaleString());
    $('.leader-skill').text(leader_skill.toLocaleString());
    $('.friend-skill').text(friend_skill.toLocaleString());
    $('.ability1').text(ability1.toLocaleString());
    $('.ability2').text(ability2.toLocaleString());
    $('.ability3').text(ability3.toLocaleString());
    $('.ability4').text(ability4.toLocaleString());
    $('.dmg-atk').text(dmg_atk.toLocaleString());
    $('.dmg-normal').text(dmg_normal.toLocaleString());
    $('.dmg-smash').text(dmg_smash.toLocaleString());
  }

  $(document).ready( function(){
    // ページ読み込み時に実行したい処理
    // ダメージのデフォルト値を表示
    dmg_calc();
    
    // ページ内の最初の入寮項目にフォーカス
    $('input:visible').first().focus();
  });

  $('.input').change(function() {
    dmg_calc();
  });

  // 入力モード切替用の処理
  // 使い勝手が悪いのでいったんコメントアウト
  // $(".percentToggle").click(function(){
  //   if ($("#percent-mode").text() == "％で入力"){
  //     $("#percent-mode").text("小数で入力");
  //     parcent_teisu = 1;
      
  //     $("#ability1").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.ability1') %>");
  //     $("#ability2").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.ability2') %>");
  //     $("#ability3").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.ability3') %>");
  //     $("#ability4").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.ability4') %>");
  //     $("#leader_skill").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.leader_skill') %>");
  //     $("#friend_skill").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.friend_skill') %>");
  //   }else{
  //     $("#percent-mode").text("％で入力");
  //     parcent_teisu = 0.01;

  //     $("#ability1").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.percent0') %>");
  //     $("#ability2").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.percent100') %>");
  //     $("#ability3").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.percent0') %>");
  //     $("#ability4").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.percent100') %>");
  //     $("#leader_skill").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.percent0') %>");
  //     $("#friend_skill").attr('placeholder', "<%= I18n.t('index.calc.form.placeholder.percent0') %>");
  //   }
    
  //   dmg_calc();
  // });

  $(".dmgToggle").click(function(){
    $(".dmgCollapse").collapse('toggle');
    
    if ($(this).text() == "計算式を表示"){
      $(this).text("計算式を隠す");
    }else{
      $(this).text("計算式を表示");
    }
  });

  $(".upCompatiToggle").click(function(){
    $(".upCompatiToggle").removeClass("on");
    $(".downCompatiToggle").removeClass("on");

    if (compatibility == 1.5){
      compatibility = 1;
      $(".upCompati").addClass("hidden");
      $(".compati").addClass("hidden");
    } else{
      compatibility = 1.5;
      $(".compati").removeClass("hidden");
      $(".upCompati").removeClass("hidden");

      $(".downCompati").addClass("hidden");
      $(".upCompatiToggle").addClass("on");
    }
    dmg_calc();
  });

  $(".downCompatiToggle").click(function(){
    $(".upCompatiToggle").removeClass("on");
    $(".downCompatiToggle").removeClass("on");

    if (compatibility == 0.7){
      compatibility = 1;
      $(".downCompati").addClass("hidden");
      $(".compati").addClass("hidden");
    } else{
      compatibility = 0.7;
      $(".compati").removeClass("hidden");
      $(".downCompati").removeClass("hidden");

      $(".upCompati").addClass("hidden");
      $(".downCompatiToggle").addClass("on");
    }
    dmg_calc();
  });
  
  $(function() {
    $('input').bind("keydown", function(e) {
        var n = $("input").length;
        //13=エンターkeyです
        if (e.which == 13)
        {
            e.preventDefault();
            var nextIndex = $('input').index(this) + 1;
            if(nextIndex < n) {
                //次のやつにfocus        
                $('input')[nextIndex].focus();
            } else {
                //最後のやつなので#login-btnをクリック        
                $('input')[nextIndex-1].blur();
                $('#login-btn').click();
            }
        }
    });
  });

  // スムーズスクロール
  $(function(){
  	// ページ内リンクをクリックすると
  	$('a[href^=#]').click(function(){
   		// スクロールスピード
   		var speed = 500;
   		// クリックしたリンク先を保存
  		var href= $(this).attr("href");
  		// クリックしたリンク先が#または空のときは
  		var target = $(href == "#" || href == "" ? 'html' : href);
  		// トップへ移動する
  		var position = target.offset().top;
  		// リンク先へスムーズに移動する
  		$("html, body").animate({scrollTop:position}, speed, "swing");
  		return false;
  	});
  });
  // page Topフェードイン・アウト
  $(function(){
  	$(window).bind("scroll", function() {
  	if ($(this).scrollTop() > 50) { 
  		$(".page-top").fadeIn();
  	} else {
  		$(".page-top").fadeOut();
  	}
  	// ドキュメントの高さ
  	scrollHeight = $(document).height();
  	// ウィンドウの高さ+スクロールした高さ→ 現在のトップからの位置
  	scrollPosition = $(window).height() + $(window).scrollTop();
  	// フッターの高さ
  	footHeight = $("footer").height();
  	
  	// スクロール位置がフッターまで来たら
  	if ( scrollHeight - scrollPosition  <= footHeight ) {
  		// ページトップリンクをフッターに固定
  		$(".page-top a").css({"position":"absolute","bottom": "0px"});
  	} else {
  		// ページトップリンクを右下に固定
  		$(".page-top a").css({"position":"fixed","bottom": "0px"});
  		}
  	});
  });
</script>

