<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t('application.head.title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="description" content="大人気スマホアプリ ジョジョの奇妙な冒険スターダストシューターズのダメージ計算ができる電卓です。新機能【属性相関計算】も実装しました！" />
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><%= I18n.t('application.navbar.title') %></a>
      </div>
    </div>
  </nav>
  <div class="container">
    <% if notice %>
      <!--メッセージをふわっと表示して自然に消すjsメソッド-->
      <!--http://alfredobarron.github.io/smoke/#/-->
      <script>
        $.smkAlert({text:'<%= notice %>', type:'success'});
      </script>
    <% end %>

    <%= yield %>

  </div>
  <footer class="container-fluid">
    <small>Copyright (C) 2016 All Rights Reserved.</small>
  </footer>

</body>
</html>